@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');


body{
  background-image: url('./src/assets/comic-background.jpg');
}
img{
  filter: grayscale(85%);
}
h1{
  font-family: 'Bangers', cursive;
  color: white;
  -webkit-text-stroke: 2px red;
  filter: grayscale(85%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p, h2, li, button, input, h4{
  font-family: 'Comic Neue', sans-serif;
}

#comics{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.comic-image{
  width: 200px;
  height: 350px;
}

.comic-card{
  width: 200px;
  margin: 40px 4.5px 40px 4.5px;
  height: 490px;
  position: relative;
  border: dashed 2.5px white;
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  border-radius: 15px;
}

.favourites{
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

#navbar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  border-bottom: dashed 2.5px white;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#comics-gallery, #comic-details{
  margin-top: 70px;
}

#buttons-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

button{
  height: 35px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  vertical-align: middle;
}

input{
  height: 25px;
  width: 400px;
}

button, input{
  margin: 10px 5px 10px 5px;
}

#detailed-comic-image{
  width: 400px;
  border: dashed 2.5px white;
  padding: 2px;
}

#detailed-comic-characters, #detailed-comic-description{
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  margin: 10px;
  height:fit-content;
}

#comic-info{
  margin: 30px;
}

#detailed-comic{
  display: flex;
  flex-direction: row;
}